body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    padding-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 2%;
    margin-left: 50px;
}

.half-width img {
    width: 100%;
    margin-top: -120px;
}

.link-button {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}

p {
    color: dimgray;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}